.wrapper {
  background: linear-gradient(#BD00FF 30%, #362BA9 100%);
}

/*Login stylization*/

.login-box {
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.login-title {
  font: 32px 'Montserrat';
  color: #362ba9;
}

/*Input stylization*/

.input.legend {
  color: rgba(54, 43, 169, 0.5);
}

.input {
  border: none;
  border-bottom: 1px solid rgba(54, 43, 169, 0.5);
  outline: none;
  font: 300 14px 'Montserrat';
}

.input:focus {
  border-bottom: 1px solid #362ba9;
}

/*Button stylization*/

.button {
  font: 500 18px 'Roboto';
  /*text-transform: capitalize;*/
  color: #fff;
  border: none;
  background: #362ba9;
  border-radius: 20px;
}

.link-button {
  font: 300 12px 'Montserrat';
  color: #362ba9;
  border: none;
  border-radius: 20px;
}

.send-button {
  /*background: transparent;*/
  background: url("../img/send-icon-dark.png") center no-repeat;
  border: none;
}

.menu-button {
  font: 300 20px 'Montserrat';
  color: #fff;
  background: transparent;
  border: none;
  border-radius: 10px;
}

/*Main page styization*/

.wrapper, .menu-wrapper, .chat-wrapper {
  border: none;
}


.message-box {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: #2F3136;
}


.input-message {
  border: none;
  outline: none;
  background: #2F3136;
  color: #fff;
  font: 300 14px 'Montserrat';
}

.chat-box {
  border: none;
}

.header-box {
  margin: 5px;
  border-radius: 5px;
  color: #d4d4d4;
  background: #36393F;
  padding: 15px;
}

.chat-label {
  color:#fff;
  font: 300 16px 'Montserrat';
}

.profile-label {
  color: #362ba9;
  font: 700 28px 'Montserrat';
}

.menu-wrapper {

  border: none;
  background: #202225;
}

/*Connection-lost stylization*/

.connection-lost {
  border: none;
  background: #36393F;
}

.connection-lost-label {
  color: #fff;
  font: 700 32px 'Montserrat';
}


.reconnect {
  color: #d4d4d4;
  font: 300 24px 'Montserrat';
}

.reconnect-button {
  /* background: transparent; */
  border: none;
  border-radius: 20px;
  background: url("../img/reload-dark.png") center no-repeat;
}

#hint {
  color: red;
}


/*Buttons images*/

#settings-button {

  background: url("../img/settings-dark.png") center no-repeat;
}

#moon{

  background: url("../img/dark-theme-dark.png") center no-repeat;
}

#to-friends {
  background: url("../img/return-dark.png") center no-repeat;
}



.friend-list {
  border: none;
  color: #d4d4d4;
}

#contact_button {
  border: none;
  color: #d4d4d4;
  background: #202225;
  border-radius: 0px;
}

#contact_button:focus {
  border: none;
  color: white;
  background: #36393F;
  border-radius: 0px;
} 

#message {
  border: none;
  color: #d4d4d4;
  background: #36393F;
  border-radius: 5px;
}

#message:focus {
  border: none;
  color: #d4d4d4;
  background: #202225;
  border-radius: 5px;
}

#time {
  color: #d4d4d4;
  font-size: 12px;
}

.error-message {
  font: 300 16px 'Montserrat';
  color: #c33;
  padding: 0 0 0 5px;
}

.error-box {
  margin: 5px 10px;
}

.confirm {
  padding: 10px;
}

#avatar {
  background: url("../img/send-icon-dark.png") center no-repeat;
}


#saved {
  background: url("../img/saved-message-icon.png") center no-repeat;
}

#contact_name_box {
  padding: 8px;
}

#Contacts {
  color: #d4d4d4;
}

#online {
  color: #c5c4c4;
}

#no_online {
  color: #d4d4d4; 
}

#edit-button {
  background: url("../img/edit-icon-dark.png") center no-repeat;
} 

#delete-button {
  background: url("../img/delete-icon-dark.png") center no-repeat;
}

#go-chats-button {
  background: url("../img/send-icon-dark.png") center no-repeat;
  padding: 10px 5px;
}

#go-chats {
  border-radius: 6px 0 0 6px;
  margin: 5px 0px;
}