.wrapper {
  background: linear-gradient(#eb4b79, #6459d9);
}

/*Login stylization*/

.login-box {
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.login-title {
  font: 32px 'Montserrat';
  color: #362ba9;
}

/*Input stylization*/

.input.legend {
  color: rgba(54, 43, 169, 0.5);
}

.input {
  border: none;
  border-bottom: 1px solid rgba(54, 43, 169, 0.5);
  outline: none;
  font: 300 14px 'Montserrat';
}

.input:focus {
  border-bottom: 1px solid #362ba9;
}

/*Button stylization*/

.button {
  font: 500 18px 'Roboto';
  /*text-transform: capitalize;*/
  color: #fff;
  border: none;
  background: #362ba9;
  border-radius: 20px;
}

.link-button {
  font: 300 12px 'Montserrat';
  color: #362ba9;
  border: none;
  border-radius: 20px;
}

.send-button {
  /*background: #fff;*/
  background: url("../img/send-icon.png") center no-repeat;
  border: none;
}

.menu-button {
  font: 300 20px 'Montserrat';
  color: #362ba9;
  background: transparent;
  border: none;
  border-radius: 10px;
}

/*Main page styization*/

.wrapper, .menu-wrapper, .chat-wrapper {
  border: none;
}


.message-box {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: #fff;
}


.input-message {
  border: none;
  outline: none; 
  background: #fff;
  font: 300 14px 'Montserrat';
}

.chat-box {
  border: none;
}

.header-box {
  margin: 5px;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
}

.chat-label {
  color:#362ba9;
  font: 300 16px 'Montserrat';
}

.profile-label {
  color: #362ba9;
  font: 700 28px 'Montserrat';
}

.menu-wrapper {
  border: none;
  background: #fff;
}

/*Connection-lost stylization*/

.connection-lost {
  border: none;
  background: #fff;
}

.connection-lost-label {
  color: #362ba9;
  font: 700 32px 'Montserrat';
}


.reconnect {
  color: #362ba9;
  font: 300 24px 'Montserrat';
}

.reconnect-button {
  border: none;
  border-radius: 20px;
  background: url("../img/reload.png") center no-repeat;

}

#hint {
  color: red;
}




/*Buttons images*/

#settings-button {

  background: url("../img/settings.png") center no-repeat;
}

#moon{

  background: url("../img/dark-theme.png") center no-repeat;
}

#to-friends {
  background: url("../img/return.png") center no-repeat;
}

#attach-button {
  background: url("../img/find-icon.png") center no-repeat;
  margin: 0 5px;
}


.friend-list {
  border: none;
}

#contact_button {
  border: none;
  color:   #463e9b;
  background: #fff;
  border-radius: 0px;
}

#contact_button:focus {
  border: none;
  color:   #ffffff;
  background: #4c78c9;
  border-radius: 0px;
}

#message {
  border: none;
  color:  #433b9b;
  background: #fff;
  border-radius: 5px;
}

#message:focus {
  border: none;
  color: #362ba9;
  background: #fff;
  border-radius: 5px;
}


#time {
  color:   #5e6063;
  font-size: 12px;
}

.error-message {
  font: 300 16px 'Montserrat';
  color: #c33;
  padding: 0 0 0 5px;
}

.error-box {
  margin: 5px 10px;
}

.confirm {
  padding: 10px;
}

#avatar {
  background: url("../img/send-icon-dark.png") center no-repeat;
}

#saved {
  background: url("../img/saved-message-icon.png") center no-repeat;
}

#contact_name_box {
  padding: 8px;
}

#Contacts {
  
   color: #5e6063; 
}

#online {
  color: #362ba9;
}

#no_online {
  color: #5e6063; 
}