.wrapper {
  background: linear-gradient(#eb4b79, #6459d9);
}

/*Login stylization*/

.login-box {
  background: #FFFFFF;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.login-title {
  font: 32px 'Montserrat';
  color: #362ba9;
}

/*Input stylization*/

.input.legend {
  color: rgba(54, 43, 169, 0.5);
}

.input {
  border: none;
  border-bottom: 1px solid rgba(54, 43, 169, 0.5);
  outline: none;
  font: 300 14px 'Montserrat';
}

.input:focus {
  border-bottom: 1px solid #362ba9;
}

/*Button stylization*/

.button {
  font: 500 18px 'Roboto';
  /*text-transform: capitalize;*/
  color: #fff;
  border: none;
  background: #362ba9;
  border-radius: 20px;
}

.link-button {
  font: 300 12px 'Montserrat';
  color: #362ba9;
  border: none;
  border-radius: 20px;
}

.send-button {
  /*background: #fff;*/
  background: url("../img/send-icon.png") center no-repeat;
  border: none;
}

.menu-button {
  font: 300 20px 'Montserrat';
  color: #362ba9;
  background: transparent;
  border: none;
  border-radius: 10px;
}

/*Main page styization*/

.wrapper, .menu-wrapper, .chat-wrapper {
  border: none;
}


.message-box {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: #fff;
}


.input-message {
  border: none;
  outline: none; 
  background: #fff;
  font: 300 15px 'Montserrat';
}

.chat-box {
  border: none;
}

.header-box {
  margin: 5px;
  border-radius: 5px;
  background: #fff;
  padding: 15px;
}

.chat-label {
  color:#362ba9;
  font: 300 16px 'Montserrat';
}

.profile-label {
  color: #362ba9;
  font: 700 28px 'Montserrat';
}

.menu-wrapper {
  /* margin: 0px 5px; */
  border-radius: 0px 5px 5px 0px;
  padding: 5px;
  background: #fff;
}

/*Connection-lost stylization*/

.connection-lost {
  border: none;
  background: #fff;
}

.connection-lost-label {
  color: #362ba9;
  font: 700 32px 'Montserrat';
}


.reconnect {
  color: #362ba9;
  font: 300 24px 'Montserrat';
}

.reconnect-button {
  border: none;
  border-radius: 20px;
  background: url("../img/reload.png") center no-repeat;

}

#hint {
  color: red;
}




/*Buttons images*/

#settings-button {

  background: url("../img/settings.png") center no-repeat;
}

#moon{

  background: url("../img/dark-theme.png") center no-repeat;
}

#to-friends {
  background: url("../img/return.png") center no-repeat;
}

#attach-button {
  background: url("../img/attach-file.png") center no-repeat;
}

/* #name_label {
  background-color: #eb4b79;
} */
/* #contact_button {
  border: none;
  
} */